* {
    font-family: 'Kumbh sans', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #131313;
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding: 1rem 3rem;
    align-items: center;
}

#navbar_logo {
    background-color: #ff8177;
    background-image: linear-gradient(to bottom, #00FFFF 0%, #00008B 100%);
    font-size: 2rem;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}


.navbar_links .button {
    font-size: 1.5rem;
    color: #fff;
}

.navbar_links {
    font-size: 1.5rem;
    color: #fff;
    padding: 1rem;
    text-decoration: none;
    cursor: pointer;

}

.button {
    font-size: 1.5rem;
    color: #fff;
    background-color: #00bbe0;
    padding: 1rem;
    border-radius: 15px;
}

.navbar_links:hover {
    color: #00bbe0;
}

.button:hover {
    background: #347aeb;
    color: #fff;
}



/* to finish resposive menu */

@media screen and (max-width: 960px) {
    .navbar_link_container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }
}


/*main section css */
.main {
    background-color: #131313;
}

.main_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;   
    background-color: #141414;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 100px 50px;
}

.main_content h1{
    font-size: 4rem;
    background-color: #ff8177;
    background-image: linear-gradient(to bottom, #00FFFF 0%, #00008B 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main_content h2{
    font-size: 4rem;
    background-color: #ff8177;
    background-image: linear-gradient(to bottom, #8233C5 0%, #E963FD 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main_content p {
    font-size: 2rem;
    color: #fff;
    font-weight: bold;
    margin-top: 2rem;
}

.main_button {
    font-size: 1rem;
    margin-top: 2rem;
    padding: 14px 32px;
    background-image: linear-gradient(to bottom, #00FFFF 0%, #00008B 100%);
    color: #fff;
    border: none;
    outline: none;
    border-radius: 0.4rem;
}

.main_button a {
    text-decoration: none;
    color: #fff;
}
