* {
    font-family: 'Kumbh sans', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #131313;
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding: 1rem 3rem;
    align-items: center;
}

#navbar_logo {
    background-color: #ff8177;
    background-image: linear-gradient(to bottom, #00FFFF 0%, #00008B 100%);
    font-size: 2rem;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}


.navbar_links .button {
    font-size: 1.5rem;
    color: #fff;
}

.navbar_links {
    font-size: 1.5rem;
    color: #fff;
    padding: 1rem;
    text-decoration: none;
    cursor: pointer;

}

.button {
    font-size: 1.5rem;
    color: #00008B;
    background-color: #fff;
    padding: 1rem;
    border-radius: 15px;
}

/* to finish resposive menu */

@media screen and (max-width: 960px) {
    .navbar_link_container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

}